html, body {
    height: 100%
}

.container {
    margin-top: 15px;
}

.logo {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: lightgray;
    z-index: 1;
}

.error-message {
    color: #dc3545;
}

.error-message input, .error-message textarea {
    border: 1px solid #dc3545;
}

a:hover.nav-link {
    background-color: lightslategray;
    color: white !important;
}

h3 {
    padding-bottom: 15px;
}

.app-gallery img {
    width: 170px;
    height: 150px;
}

.carousel-item {
    text-align: center;
    background-color: lightgrey;
}

.app-home-content {
    padding-top: 30px;
}

.app-home-content img {
    width: 250px;
    height: 170px;
    float: right;
    padding-left: 10px;
}